*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #5c539d;  
}

.container h2{
    color: #fff;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}

.price-row{
    width: 90%;
    max-width: 1100px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.price-col{
    background: #1f283b;
    padding: 10% 15%;
    border-radius: 10px;
    color:#fff;
    text-align: center;
}

.price-col p{
    font-size: 22px;
}

.price-col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight:500 ;
}

.price-col h3 span{
    font-size: 16px;
}

.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.price-col ul li{
    margin: 15px 0;
}

.price-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color:#fff;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
}
